:root {
  // Application colors
  --color-background: #ffffff;
  --color-tan: #d0a578;
  --color-light-tan: #e0d5cb;
  --color-blue: #355C7D;
  --color-green: #40564f;
  --color-font: #363636;
  --color-black: #000;
  --color-white: #FFFFFF;

  // Font sizes
  --font-size-sm: 17px;
  --font-size-md: 19px;
  --font-size-lg: 34px;
  --font-size-xlg: 42px;
}