:root {
  // Application colors
  --color-background: #ffffff;
  --color-secondary: #f3f6f6;
  --color-font: #355C7D;
  --color-black: #000;
  --color-white: #FFFFFF;

  // Font sizes
  --font-size-sm: 17px;
  --font-size-md: 19px;
  --font-size-lg: 34px;
  --font-size-xlg: 42px;
}