/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}


body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Crimson Text', serif;
  color: var(--color-font);
  background-color: var(--color-background);

  a, a:link {
    color: var(--color-link);
    text-decoration: none;
    cursor: pointer;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;

  .home-link {
    font-size: 24px;
    margin: 0;
  }

  .contact-link {
    color: var(--color-white) !important;
    background-color: var(--color-font);
    padding: 10px 30px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    .mobile-only {
      display: none;
    }

    li {
      margin: 0 10px;
      a {
        font-size: var(--font-size-md);
        color: var(--color-nav-link);
      }
      .active {
        padding-bottom: 2px;
        border-bottom-style: solid;
      }
    }
  }
}

.content {

  h1 {
    font-weight: normal;
    font-size: var(--font-size-xlg);
  }

  h2 {
    font-weight: normal;
    font-size: var(--font-size-lg);
  }

  p {
    font-size: var(--font-size-md);
  }

  a {
    text-decoration: underline !important;
  }

  li {
    font-size: var(--font-size-md);
    padding-bottom: 10px;
  }
}

footer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  background-color: var(--color-secondary);

  h2 {
    margin: 0 0 20px 0;
    font-size: var(--font-size-lg);
    font-weight: normal !important;
  }

  .button {
    font-size: var(--font-size-sm);
    color: var(--color-white) !important;
    background-color: var(--color-font);
    padding: 20px 60px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0;
    .home-link { display: none; }
    .contact-link { display: none; }
    ul {
      padding: 0;
      .mobile-only {
        display: block !important;
      }
    }
  }
}