/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: var(--color-font);
  background-color: var(--color-background);

  .flash_success {
    background-color: var(--color-tan);
    color: var(--color-white);
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
  }

  a, a:link {
    color: var(--color-link);
    text-decoration: none;
    cursor: pointer;
  }

  .white {
    color: var(--color-white) !important;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 50px;
    z-index: 2;

    .home-link {
      color: var(--color-font) !important;
      font-size: 24px;
      margin: 0;
    }

    .white {
      color: var(--color-white) !important;
    }

    .contact-link {
      font-size: var(--font-size-md);
      color: var(--color-white) !important;
      background-color: var(--color-tan);
      padding: 20px 40px;
    }

    nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;

      .mobile-only {
        display: none;
      }

      li {
        margin: 0 10px;
        a {
          font-size: var(--font-size-md);
        }
        .active {
          padding-bottom: 2px;
          border-bottom-style: solid;
        }
      }
    }
  }

  .content {
    h1 {
      font-weight: normal;
      font-size: var(--font-size-xlg);
    }

    h2 {
      font-weight: normal;
      margin: 28px 0;
      font-size: var(--font-size-lg);
    }

    h3 {
      font-weight: normal;
      font-size: var(--font-size-md);
      line-height: 2;
      font-style: italic;
    }

    p {
      font-size: var(--font-size-md);
      line-height: 2;
    }

    a {
      text-decoration: underline !important;
    }

    li {
      font-size: var(--font-size-md);
      padding-bottom: 10px;
    }
  }

  footer {
    padding: 80px 80px 100px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;

    h2 {
      margin: 0 0 20px 0;
      font-size: var(--font-size-lg);
      font-weight: normal !important;
    }

    .button {
      font-size: var(--font-size-md);
      color: var(--color-white) !important;
      background-color: var(--color-tan);
      padding: 30px 80px;
    }
  }
}

@media (max-width: 600px) {
  header {
    padding: 10px 30px !important;

    .contact-link { display: none; }

    ul {
      padding: 0;

      .mobile-only {
        display: inline-block !important;

        a {
          display: inline-flex;
          padding: 8px;
        }
      }
    }
  }

  footer {
    padding: 60px 60px 80px 60px !important;
  }
}